1000 RCDATA DISCARDABLE "../run/images/butterfly/npc_butterfly__x1_fly-angle1_png_1354829526.png"
1001 RCDATA DISCARDABLE "../run/images/butterfly/npc_butterfly__x1_fly-angle2_png_1354829527.png"
1002 RCDATA DISCARDABLE "../run/images/butterfly/npc_butterfly__x1_fly-rooked_png_1354829525.png"
1003 RCDATA DISCARDABLE "../run/images/butterfly/npc_butterfly__x1_fly-side_png_1354829525.png"
1004 RCDATA DISCARDABLE "../run/images/butterfly/npc_butterfly__x1_fly-top_png_1354829528.png"
1005 RCDATA DISCARDABLE "../run/images/butterfly/npc_butterfly__x1_rest-angle1_png_1354829530.png"
1006 RCDATA DISCARDABLE "../run/images/butterfly/npc_butterfly__x1_rest-angle2_png_1354829531.png"
1007 RCDATA DISCARDABLE "../run/images/butterfly/npc_butterfly__x1_rest-top_png_1354829532.png"

1010 RCDATA DISCARDABLE "../run/images/piggy/npc_piggy__x1_walk_png_1354829432.png"
1011 RCDATA DISCARDABLE "../run/images/piggy/npc_piggy__x1_chew_png_1354829433.png"
1012 RCDATA DISCARDABLE "../run/images/piggy/npc_piggy__x1_look_screen_png_1354829434.png"
1013 RCDATA DISCARDABLE "../run/images/piggy/npc_piggy__x1_nibble_png_1354829441.png"
1014 RCDATA DISCARDABLE "../run/images/piggy/npc_piggy__x1_rooked1_png_1354829442.png"
1015 RCDATA DISCARDABLE "../run/images/piggy/npc_piggy__x1_rooked2_png_1354829443.png"
1016 RCDATA DISCARDABLE "../run/images/piggy/npc_piggy__x1_too_much_nibble_png_1354829441.png"

1020 RCDATA DISCARDABLE "../run/images/kitty/npc_kitty_chicken__x1_3fly_png_1354840558.png"
1021 RCDATA DISCARDABLE "../run/images/kitty/npc_kitty_chicken__x1_3hitBall_png_1354840558.png"
1022 RCDATA DISCARDABLE "../run/images/kitty/npc_kitty_chicken__x1_3happy_png_1354840564.png"
1023 RCDATA DISCARDABLE "../run/images/kitty/npc_kitty_chicken__x1_2fly_png_1354840551.png"
1024 RCDATA DISCARDABLE "../run/images/kitty/npc_kitty_chicken__x1_2hitBall_png_1354840552.png"
1025 RCDATA DISCARDABLE "../run/images/kitty/npc_kitty_chicken__x1_2jump_png_1354840550.png"

1100 RCDATA DISCARDABLE "../run/images/caterpillar/caterpillar__x1_sit_png_1354831021.png"
1101 RCDATA DISCARDABLE "../run/images/milk/milk_butterfly__x1_1_x1_2_x1_3_x1_4_png_1354829507.png"
1102 RCDATA DISCARDABLE "../run/images/piglet/piglet__x1_sit_png_1354830978.png"

LA WAVE "../run/sounds/la.wav"
BOUNCE WAVE "../run/sounds/bounce.wav"
AHH WAVE "../run/sounds/ahh.wav"
DRINK WAVE "../run/sounds/drink.wav"
NIBBLE WAVE "../run/sounds/nibble.wav"

